*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

.main{
   width: 100%;
   height: 56px;


}

.header{
  
    background-color: rgb(13,6,32);
    height: 56px;
    width: 100%;
    display: flex;
    justify-content: space-around;
}

li{
    list-style: none;
    display: flex;
    align-items: center;
    
}

.item{
    color: white;
}
